<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/theme/macarons.js"></script>
</head>
<body style="height: 100%; margin: 0">
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height: 100%"></div>

<script type="text/javascript">

    $.ajax({
        type: "GET",
        url: "http://localhost:5000/time",
        data: null,
        dataType: "json",
        success: function (data) {
            alert("成功获得响应")
            LineChart(data);
        },
        error: function () {
            alert("请求响应失败");
        }
    });

    function getJsonObjLength(jsonObj) {
        var Length = 0;
        for (var item in jsonObj) {
            Length++;
        }
        return Length;
    }

    function LineChart(data) {

        var id = [];
        var count = [];
        var arrayLength = getJsonObjLength(data);
        for (var i = 0; i < arrayLength; i++) {
            id.push(data[i]._id);
            count.push(data[i].count);
        }

        console.log(id);
        console.log(count);
        var myChart = echarts.init(document.getElementById('main'),'macarons');

        option = {
            title : {
                text: '网站访问量(秒级)',
                textStyle: {fontSize: 24},
                subtext: '基于Nginx日志文件',
                x:'center'
            },
            tooltip : {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },

            toolbox: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },

            dataZoom: [
                {
                    show: true,
                    start: 10,
                    end: 90
                },
                {
                    type: 'inside',
                    start: 10,
                    end: 90

                }
            ],
            xAxis: {
                type: 'category',
                data: id
            },

            yAxis: {
                type: 'value',
                axisPointer: {
                    snap: true
                }
            },
            series : [
                {
                    name: '访问量',
                    type: 'line',
                    data: count
                }
            ]
        };
        myChart.setOption(option,true)
    }

</script>
</body>
</html>
